// SPDX-License-Identifier: GPL-2.0-only
// Link-B IMX708 and DW9817 behind MAX96717 aliases 0x53 and 0x5d.
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 { target = <&i2c0if>; __overlay__ { status = "okay"; }; };
	clk_frag: fragment@1 { target = <&cam0_clk>; __overlay__ { status = "okay"; clock-frequency = <24000000>; }; };
	reg_frag: fragment@2 {
		target = <&cam0_reg>;
		cam_reg: __overlay__ {
			startup-delay-us = <70000>;
			off-on-delay-us = <30000>;
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <2700000>;
		};
	};

	i2c_frag: fragment@100 {
		// Same upstream I2C bus as Link A: aliases distinguish the remote devices.
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			cam_node_b: imx708@53 {
				compatible = "sony,imx708";
				reg = <0x53>;
				status = "okay";
				clocks = <&cam0_clk>;
				clock-names = "inclk";
				vana1-supply = <&cam0_reg>;
				vana2-supply = <&cam_dummy_reg>;
				vdig-supply = <&cam_dummy_reg>;
				vddl-supply = <&cam_dummy_reg>;
				rotation = <180>;
				orientation = <2>;
				lens-focus = <&vcm_node_b>;
				port {
					cam_endpoint_b: endpoint {
						clock-lanes = <0>;
						data-lanes = <1 2>;
						clock-noncontinuous;
						link-frequencies = /bits/ 64 <450000000>;
						remote-endpoint = <&csi_ep_b>;
					};
				};
			};
			vcm_node_b: dw9817@5d {
				compatible = "dongwoon,dw9817-vcm";
				reg = <0x5d>;
				status = "okay";
				VDD-supply = <&cam0_reg>;
			};
		};
	};

	csi_frag: fragment@101 {
		// Link B has its own RP1-CFE source; it does not share CSI1 with Link A.
		target = <&csi0>;
		csi: __overlay__ {
			status = "okay";
			port {
				csi_ep_b: endpoint {
					remote-endpoint = <&cam_endpoint_b>;
					clock-lanes = <0>;
					data-lanes = <1 2>;
					clock-noncontinuous;
				};
			};
		};
	};

	fragment@102 { target = <&csi0>; __dormant__ { compatible = "brcm,bcm2835-unicam-legacy"; }; };
};
